{set:
	$myCartObj  = new Cart();
	$myCartInfo = $myCartObj->getMyCart();
	$siteConfig = new Config("site_config");
	$callback   = IReq::get('callback') ? urlencode(IFilter::act(IReq::get('callback'),'url')) : '';
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{echo:$siteConfig->name}</title>
    <link rel="stylesheet" type="text/css" href="theme/css/comm.css">
	{js:jquery}
	{js:form}
	{js:validate}
	{js:dialog}
	{js:artTemplate}
	<script type='text/javascript' src="{theme:javascript/common.js}"></script>
	<script type='text/javascript' src="{url:/javascript/adloader/}"></script>
	<script type='text/javascript' src='{theme:javascript/site.js}'></script>
	{set:$sonline = new Sonline();$sonline->show($siteConfig->phone,$siteConfig->service_online);}
</head>
<body>
<!--顶部导航-->
<!--
<div class="head_nav">
    <div class="constr">
        <a href="#" target="_blank">登录</a>
        <a href="#" target="_blank">注册</a>
    </div>
</div>
-->
<!--顶部导航 end-->

<!--logo bar-->
<div class="head">
    <div class="constr fix">
        <div class="logo_cell">
            <a href="#" target="_blank"><img src="views/default/skin/default/images/front/logo.gif" /></a>
        </div>
        <div class="search_cell">
            <div class="search_bg fix">
            	<form method='get' action='{url:/}'>
   					<input type='hidden' name='controller' value='site' />
		<input type='hidden' name='action' value='search_list' />
                	<input type="text" name='word' value="输入关键字..."/>
                	<a class="search_submit" href="javascript:;" onclick="document.forms[0].submit();"></a>
                </form>
            </div>
        </div>
        <div class="top_recomm"><img width="102" src="image/erweima.png"></div>
    </div>
</div>
<!--logo bar end-->
{viewcontent}
<div class="footer_show"></div>
{echo:IFilter::stripSlash($siteConfig->site_footer_code)} 
</body>
</html>
