@charset "utf-8";
/* some reset*/
body{line-height:1.4;}
body,input,textarea,select{font-size:12px; color:#333; font-family:Verdana,tahoma,arial,sans-serif; border:0;}
input{padding:0; outline:none;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,form{margin:0;}
ul,ol{padding-left:0; list-style-type:none;}
h1{font-size:0;}
h1,h2,h3,h4,h5,h6{font-size:14px; font-weight:normal;}
/*image with no-border*/
img{border:0;}

/*网站链接基色*/
a{text-decoration:none; color:#333; outline:none;}
a:hover{color:#e74105; text-decoration:underline;}

/*-----------------------------------------css lib css库，新成员必看，精简class，集成样式，方便小调试与维护-------------------------------*/

/*-----------------single-declaration css lib 单声明CSS库--------------*/
/*display*/
.dn{display:none;}
.db{display:block;}
.di{display:inline;}
.dib{display:inline-block;}
/*height*/
.h14{height:14px;}
.h16{height:16px;}
.h18{height:18px;}
.h20{height:20px;}
.h22{height:22px;}
.h24{height:24px;}
.h26{height:26px;}
.h30{height:30px;}
/*line-heigth*/
.lh14{line-height:14px;}
.lh16{line-height:16px;}
.lh18{line-height:18px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh26{line-height:26px;}
.lh30{line-height:30px;}
/*margin*/
.m0{margin:0;}
.ml-1{margin-left:-1px;}.ml1{margin-left:1px;}.ml2{margin-left:2px;}.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml20{margin-left:20px;}.ml30{margin-left:30px;}
.mr1{margin-right:1px;}.mr2{margin-right:2px;}.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr20{margin-right:20px;}
.mt1{margin-top:1px;}.mt2{margin-top:2px;}.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;}.mt30{margin-top:30px;}.mt-1{margin-top:-1px;}.mt-2{margin-top:-2px;}
.mb1{margin-bottom:1px;}.mb2{margin-bottom:2px;}.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb20{margin-bottom:20px;}
/*padding*/
.p1{padding:1px;}.pl1{padding-left:1px;}.pt1{padding-top:1px;}.pr1{padding-right:1px;}.pb1{padding-bottom:1px;}
.p2{padding:2px;}.pl2{padding-left:2px;}.pt2{padding-top:2px;}.pr2{padding-right:2px;}.pb2{padding-bottom:2px;}
.p5{padding:5px;}.pl5{padding-left:5px;}.pt5{padding-top:5px;}.pr5{padding-right:5px;}.pb5{padding-bottom:5px;}
.p10{padding:10px;}.pl10{padding-left:10px;}.pt10{padding-top:10px;}.pr10{padding-right:10px;}.pb10{padding-bottom:10px;}
.pl15{padding-left:15px}
.p20{padding:20px;}.pl20{padding-left:20px;}.pt20{padding-top:20px;}.pr20{padding-right:20px;}.pb20{padding-bottom:20px;}
/*background*/
.bgwh{background-color:#fff;}
/*color*/
.g0{color:#000;}
.g5{color:#454545;}
.g9{color:#999;}
.g7{color:#757575}
.gc{color:#ccc;}
.wh{color:white;}
.g1d8{color:#1D88CB}
.g30b{color:#30BA99;}
.red{color:#842F36;}
.yellow{color:#BC9B58;}
.blue{color:#3AB2E4;}
.orange{color:#F26522;}
/*font-size*/
.f0{font-size:0;}
.f10{font-size:10px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
/*font-family*/
.fs{font-family:'宋体';}
.fw{font-family:'微软雅黑';}
.fi{font-style:italic;}
/*font-weight*/
.n{font-weight:normal; font-style:normal;}
.b{font-weight:bold;}
/*text-align*/
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.tj{text-align:justify;}
/*word-break*/
.bk{word-break:break-all; word-wrap:break-word;}
.nowrap{white-space:nowrap;}
/*vertical-align*/
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.vt{vertical-align:top;}
.vtb{vertical-align:text-bottom;}
.vn{vertical-align:-2px;}
.v-4{vertical-align:-4px;}
/*float*/
.l{float:left;}
.r{float:right;}
/*position*/
.rel{position:relative;}
.abs{position:absolute;}
/*z-index*/
.zx1{z-index:1;}
.zx2{z-index:2;}
/*cursor*/
.poi{cursor:pointer;}
.def{cursor:default;}
.txt{cursor:text;}
/*overflow*/
.ovh{overflow:hidden;}
.ovs{overflow:scroll;}
.ova{overflow:auto;}
/*visibility*/
.vh{visibility:hidden;}
.vv{visibility:visible;}
/*zomm*/
.z{*zoom:1;}
/*text-indent*/
.ti2{text-indent:2em;}
/*text*/
.tdn:hover{text-decoration:none;}


/*----------------multi-declaration css lib 多声明CSS库-----------------------*/
/*block元素居中对齐*/
.auto{
	margin-left:auto;
	margin-right:auto;
}
/*浮动清除*/
.fix{*zoom:1;}
.fix:after{
	display:block;
	content:"$";
	height:0;
	clear:both;
	overflow:hidden;
	visibility:hidden;
}
/*双栏自适应*/
.cell{
	display:table-cell;
	*display:inline-block;
	width:2000px;
	*width:auto;
}
/*inline-block与float列表*/
.inline_box{
	font-size:1px; 
	letter-spacing:-3px;
}
.inline_two, .inline_three, .inline_four, .inline_five, .inline_six, .inline_any{
	display:inline-block; 
	*display:inline; 
	font-size:14px; 
	letter-spacing:0; 
	vertical-align:top; 
	*zoom:1;
}
.inline_two{width:49.8%;}
.inline_three{width:33.3%;}
.inline_four{width:24.9%;}
.inline_five{width:19.9%;}
.inline_six{width:16.6%;}

/*元素绝对定位隐藏*/
.abs_out{
	position:absolute;
	left:-9999px;
	top:-9999px;
}
.abs_in .abs_out{position:static;}


/*外发光*/
.boxsh2{
	-webkit-box-shadow:0 0 3px #bbb;
	-moz-box-shadow:0 0 3px #bbb;
	-o-box-shadow:0 0 3px #bbb;
	box-shadow:0 0 3px #bbb;
}


/*--------------------------项目样式库 project css lib---------------------*/
/*特定width*/
.w620{width:620px;}
.w660{width:660px;}
/*按比例定宽*/
.pct15{width:15%;}
.pct20{width:20%;}
.pct25{width:25%;}
.pct30{width:30%;}
.pct33{width:33.3%;}
.pct40{width:40%;}
.pct50{width:50%;}
.pct55{width:55%;}
.pct60{width:59.8%;}
.pct66{width:66.6%;}
.pct74{width:74%;}
.pct80{width:80%;}
.pct95{width:95%;}
.pct98{width:98%;}

/*边框*/
.bbca_dash{border-bottom:1px dashed #CACACA;}

/*大小不定元素垂直居中*/
.dib_vm{display:inline-block; width:0; height:100%; vertical-align:middle;}

/*水平翻转*/
.flipx{
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);
	/*IE*/
	filter:FlipH;
}
/*垂直翻转*/
.flipy{
	-moz-transform:scaleY(-1);
	-webkit-transform:scaleY(-1);
	-o-transform:scaleY(-1);
	transform:scaleY(-1);
	/*IE*/
	filter:FlipV;
}

/*圆角*/
.bdrad3{
	-moz-border-radius:3px;	
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

/*------------------------网站结构--------------------------*/
.constr{width:1190px; margin:0 auto;}

.head_nav{height:27px; line-height:27px; background-color:#f2f2f2; border-bottom:1px solid #e5e5e5;}

.head{height:108px; overflow:hidden;}
.logo_cell{float:left;}
.search_cell{padding-top:30px; float:left;}
.search_bg{width:520px; height:20px; padding:8px 0 8px 20px; background:url(../images/search_bg.gif);}
.search_bg input{width:410px; height:20px; line-height:20px; padding-right:20px; float:left; color:#999;}
.search_bg .search_submit{display:inline-block; width:70px; height: 20px; float:left;}

.navbar{line-height:1.4em; border-bottom:3px solid #e22a40;}
.navbar .top_t{background-color:#f7f8f8; line-height: 39px; height:39px; width:238px; float:left; text-align:center; border:1px solid #e7e7e7; font-size:16px; font-family:\5FAE\8F6F\96C5\9ED1; font-weight: 700;
-webkit-box-shadow: 8px 3px 7px -3px rgba(0,0,0,.3);
-moz-box-shadow: 8px 3px 7px -3px rgba(0,0,0,.3);
-ms-box-shadow: 8px 3px 7px -3px rgba(0,0,0,.3);
-o-box-shadow: 8px 3px 7px -3px rgba(0,0,0,.3);
box-shadow: 8px 3px 7px -3px rgba(0,0,0,.3);}
.navbar .top_t a{color:#666;}
.navbar ul{float:left; line-height:28px;}
.navbar ul li{float:left; font-size:16px; color:#333; height:12px; line-height:12px; margin:10px 0 10px -1px; padding:0 25px; border-right: 1px solid#d9d9d9; text-decoration: none; font-weight: 700;}
.navbar ul li a{color:#333;}
.mycart{position:relative;z-index:60;float:right;width:244px;height:22px;padding-top:6px;background:url(../../views/default/skin/default/images/front/sprites.gif) 0 -255px no-repeat}
	.mycart dt,.mycart dd{float:left}
	.mycart dt{position:relative;width:120px;padding:0 20px 0 40px}
		.mycart dt a{color:#626262}
			.mycart dt a b{margin:0 3px;color:#a40000;font-size:11px}
	.mycart dd{width:43px;margin:0 0 0 8px;color:#fff}
		.mycart dd a:link,.mycart dd a:visited,.mycart dd a:hover,.mycart dd a:active{color:#fff}
	.shopping{position:absolute;right:0;top:28px;width:344px;padding:5px 5px 5px 0;border:2px solid #2f2f2f; background-color:#fff}
		dl.cartlist dd{width:334px;height:60px;padding:5px 0;margin-bottom:5px;border-bottom:1px dashed #c7c7c7;text-align:left}
			dl.cartlist dd .pic{width:55px;height:55px;margin-right:5px}
			dl.cartlist dd .title{width:160px;height:60px}
				dl.cartlist dd .title a{color:#373737;font:normal 12px/18px "宋体"}
			dl.cartlist b{color:#da4901;font-size:11px}
			dl.cartlist input.del{width:51px;height:19px;cursor:pointer;text-indent:-9999px;overflow:hidden;line-height:19px;text-align:left;padding-left:6px;color:#6e6e6e;border:none;background:url(../../views/default/skin/default/images/front/sprites.gif) -228px -195px no-repeat}
		dl.cartlist dd.static{height:25px;margin-bottom:0;text-align:right;color:#6e6e6e;border-bottom:0}
			dl.cartlist dd.static span{margin-right:20px}
			dl.cartlist dd.static a{color:#757575;text-decoration:underline}
			dl.cartlist dd.static label{margin:0}
			dl.cartlist dd.static input{font-weight:normal;color:#333}

/* form table style start */
label input{cursor:pointer}
.form_table label{margin-right:5px;vertical-align:middle;color:#a6a6a6}
.form_table label.attr{color:#1d1d1d}
label.btn,label.btn_orange,label.btn_green,label.btn_gray,label.btn_gray_m,label.btn_gray_s,label.btn_orange2,label.btn_orange3{display:inline-block;cursor:pointer;margin:10px 10px 10px 0;padding-left:5px;overflow:hidden;cursor:pointer;background:url(../../views/default/skin/default/images/front/ucenter/btn_bg.gif) 0 -31px no-repeat;_padding-left:1px}
	label.btn input,label.btn_orange input,label.btn_green input,label.btn_gray input,label.btn_gray_m input,label.btn_gray_s input,label.btn_orange2 input,label.btn_orange3 input{display:inline-block;border:none;padding-right:7px;height:31px;line-height:31px;font-weight:bold;font-size:14px;vertical-align:bottom;color:#fff;background:url(../../views/default/skin/default/images/front/ucenter/btn_bg.gif) right 0 no-repeat}
label.btn,label.btn_gray{margin-right:10px}
label.btn_orange,label.btn_green{padding-left:8px;background-position:0 -216px}
label.btn_green{background-position:0 -262px}
	label.btn_orange input,label.btn_green input{height:23px;line-height:23px;font-size:12px;padding-right:10px;background-position:right -239px}
	label.btn_green input{background-position:right -285px}
label.btn_gray{height:30px;margin-bottom:5px;padding-left:7px;background-position:0 -92px}
	label.btn_gray input{color:#4f4f4f;background-position:right -62px}
label.btn_gray_m{height:24px;padding-left:7px;vertical-align:middle;background-position:0 -146px}
	label.btn_gray_m input{height:24px;line-height:24px;font-size:12px;color:#4f4f4f;background-position:right -122px}
label.btn_gray_s{margin:0 5px;height:23px;padding-left:7px;vertical-align:middle;background-position:0 -170px}
	label.btn_gray_s input{height:23px;line-height:24px;color:#000;font-size:12px;font-weight:normal;background-position:right -193px}
label.btn_orange2{height:27px;margin-top:5px;background-position:0 -308px;*padding-left:2px;margin:6px 0}
	label.btn_orange2 input{height:27px;line-height:29px;background-position:right -308px;font-weight:normal;font-size:12px;*padding-right:2px}
label.btn_orange3{margin:15px 0 0;background-position:0 -386px}
	label.btn_orange3 input{height:27px;line-height:27px;background-position:right -335px}
input.normal,input.middle,input.small,input.tiny,input.mini{width:230px;height:27px;line-height:27px;border:1px solid #7f9db9;padding:0 5px;margin-right:14px;vertical-align:middle}
input.middle{width:130px}input.small{width:90px}input.tiny{width:50px}
input.mini{width:50px;height:21px;border:1px solid #ddd;margin:0 5px}
input.gray,input.gray_s,input.gray_t,input.gray_m{width:246px;height:22px;border:1px solid #c4c4c4;padding:5px 3px 0;margin:0 5px 0 0;overflow:hidden;background:url(../../views/default/skin/default/images/front/inputbg.gif) no-repeat}
input.gray_s{width:97px}input.gray_t{width:38px;height:17px;padding:3px 3px 0}input.gray_m{width:123px}
input.current{border-color:#ffa96a}
input.search{width:240px;height:23px;padding-left:27px;border:1px solid #d2d2d2;margin:0 5px;vertical-align:middle;background:url(../../views/default/skin/default/images/front/ucenter/search_bg.gif) no-repeat}
input.radio{vertical-align:middle;margin-right:5px}
input.sbtn{width:37px;height:19px;margin:0 5px;border:none;color:#666;background:url(../../views/default/skin/default/images/front/ucenter/sbtn_bg.gif) no-repeat}
input.sreset{border:none;background:none;color:#aaa}
textarea{width:465px;height:65px;padding:0 0 0 5px;font-size:12px;color:#333;border:1px #7f9db9 solid;line-height:18px}
.form_table{margin-bottom:20px;padding:20px 0 0;background-color:#fff}
	.form_table th{text-align:right;color:#545454}
	.form_table td{height:30px;padding:6px 0 5px 10px}
		.form_table td a{margin:0 5px}
		.form_table td a.link{color:#005aa0;text-decoration:underline}
		.form_table td a.pwd{padding:1px 0 1px 17px;background:url(../../views/default/skin/default/images/front/sprites_2.gif) -174px -342px no-repeat}
.submit,.submit_buy,.submit_join,.submit_login,.submit_reg,.submit_order,.submit_pay,.submit_cancel,a.reg_btn,.reply_btn,a.btn_continue,a.btn_pay,a.comm_btn,a.btn_blue,.summary div.current input.disabled,.summary div.current .shop_cart input.disabled,.next_step{*display:block;height:44px;border:none;text-indent:-9999px;overflow:hidden;cursor:pointer;background:url(../../views/default/skin/default/images/front/submit_bg.gif);line-height: 120px;}
.submit{width:99px;height:38px;margin-top:-15px}
.submit_buy{width:169px;background-position:0 -82px}
.submit_join{width:158px;height:40px;background-position:0 -126px}
.submit_login{width:117px;background-position:0 -166px}
.submit_reg{width:205px;background-position:0 -254px}
.submit_order{width:191px;background-position:0 -433px}
.submit_pay{width:148px;background-position:0 -477px;margin:30px 0}
.submit_cancel{width:107px;height:34px;background-position:0 -521px}
.shop_cart .submit_join{width:182px;height:44px;background-position:0 -298px}
.next_step{display:block;width:159px;background-position:0 -643px;}
.reply_btn{display:inline-block;width:49px;height:24px;line-height:24px;color:#444;text-indent:0;text-align:center;background-position:-99px 0}
a.comm_btn,a.btn_blue{display:inline-block;width:73px;height:24px;margin:5px 0 0 10px;text-indent:0;background-position:-117px -166px;color:#fff;line-height:24px;text-align:center}
a.comm_btn:link,a.comm_btn:visited,a.comm_btn:hover,a.comm_btn:active{color:#fff;text-decoration:none}
a.btn_blue{width:92px;height:28px;margin:0 10px 0 0;line-height:26px;background-position:0 -405px;font-family:"宋体"}
a.btn_blue:link,a.btn_blue:visited,a.btn_blue:hover,a.btn_blue:active{color:#fff}
a.btn_continue{display:inline-block;width:86px;height:26px;margin-right:10px;background-position:0 -379px}
a.btn_pay{display:inline-block;width:119px;height:37px;margin-right:20px;background-position:0 -342px}
.summary div.current input.disabled{background-position:0 -599px}
.summary div.current .shop_cart input.disabled{background-position:0 -555px}
/* form table style end */
