<link rel="stylesheet" type="text/css" href="theme/css/index.css">
    <!--购物车-->
<div class="navbar fix">
    <div class="constr">
        <div class="top_t">所有产品分类</div>
        <ul>
            <li><a href="{url:/site/index}">首页</a></li>
            {query:name=guide}
            <li><a href="{url:$item[link]}">{$item['name']}<span> </span></a></li>
            {/query}
        </ul>

        <div class="mycart">
            <dl>
                <dt><a href="{url:/simple/cart}"><b name="mycart_count">{$myCartInfo['count']}</b>kg <b name="mycart_sum">{$myCartInfo['sum']}元</b></a></dt>
                <dd><a href="{url:/simple/cart}">去结算</a></dd>
            </dl>

            <!--购物车浮动div 开始-->
            <div class="shopping" id='div_mycart' style='display:none;'></div>
            <!--购物车浮动div 结束-->

            <!--购物车模板 开始-->
            <script type='text/html' id='cartTemplete'>
            <dl class="cartlist">
                <%for(var item in goodsData){%>
                <%var data = goodsData[item]%>
                <dd id="site_cart_dd_<%=item%>">
                    <div class="pic f_l"><img width="55" height="55" src="{webroot:<%=data['img']%>}"></div>
                    <h3 class="title f_l"><a href="{url:/site/products/id/<%=data['goods_id']%>}"><%=data['name']%></a></h3>
                    <div class="price f_r t_r">
                        <b class="block">￥<%=data['sell_price']%> x <%=data['count']%></b>
                        <input class="del" type="button" value="删除" onclick="removeCart('{url:/simple/removeCart}','<%=data['id']%>','<%=data['type']%>');$('#site_cart_dd_<%=item%>').hide('slow');" />
                    </div>
                </dd>
                <%}%>

                <dd class="static"><span>共<b name="mycart_count"><%=goodsCount%></b>件商品</span>金额总计：<b name="mycart_sum">￥<%=goodsSum%></b></dd>

                <%if(goodsData){%>
                <dd class="static">
                    {if:ISafe::get('user_id')}
                    <a class="f_l" href="javascript:void(0)" onclick="deposit_ajax('{url:/simple/deposit_cart_set}');">寄存购物车>></a>
                    {/if}
                    <label class="btn_orange"><input type="button" value="去购物车结算" onclick="window.location.href='{url:/simple/cart}';" /></label>
                </dd>
                <%}%>
            </dl>
            </script>
                <!--购物车模板 结束-->
        </div>
    </div>
</div>
<!--选择货品添加购物车模板 开始-->
<script type='text/html' id='selectProductTemplate'>
<table width="100%">
    <col />
    <col width="80px" />
    <col width="60px" />
    <%for(var item in productData){%>
    <%item = productData[item]%>
    <tr>
        <td align="left">
            <%for(var spectName in item['specData']){%>
            <%var spectValue = item['specData'][spectName]%>
                <%=spectName%>：<%==spectValue%> &nbsp&nbsp
            <%}%>
        </td>
        <td align="center"><span class="bold red2">￥<%=item['sell_price']%></span></td>
        <td align="right"><label class="btn_gray_s"><input type="button" onclick="joinCart_ajax('<%=item['id']%>','product');" value="购买"></label></td>
    </tr>
    <%}%>
    <tr>
        <td colspan='3' align="left"><a href="{url:/site/products/id/<%=item['goods_id']%>}">查看更多</a></td>
    </tr>
</table>
</script>
<!--选择货品添加购物车模板 结束-->

<script type='text/javascript'>
$(function()
{
    {set:$word = IReq::get('word') ? IFilter::act(IReq::get('word'),'text') : '输入关键字...'}
    $('input:text[name="word"]').val("{$word}");

    $('input:text[name="word"]').bind({
        keyup:function(){autoComplete('{url:/site/autoComplete}','{url:/site/search_list/word/@word@}','{$siteConfig->auto_finish}');}
    });

    var mycartLateCall = new lateCall(200,function(){showCart('{url:/simple/showCart}')});

    //购物车div层
    $('.mycart').hover(
        function(){
            mycartLateCall.start();
        },
        function(){
            mycartLateCall.stop();
            $('#div_mycart').hide('slow');
        }
    );
});

//[ajax]加入购物车
function joinCart_ajax(id,type)
{
    $.getJSON("{url:/simple/joinCart}",{"goods_id":id,"type":type,"random":Math.random()},function(content){
        if(content.isError == false)
        {
            var count = parseInt($('[name="mycart_count"]').html()) + 1;
            $('[name="mycart_count"]').html(count);
            $('[name="mycart_sum"]').html(content.sum);
            $('.msgbox').hide();
            alert(content.message);
        }
        else
        {
            alert(content.message);
        }
    });
}

//列表页加入购物车统一接口
function joinCart_list(id)
{
    $.getJSON('{url:/simple/getProducts}',{"id":id},function(content){
        if(!content)
        {
            joinCart_ajax(id,'goods');
        }
        else
        {
            var selectProductTemplate = template.render('selectProductTemplate',{'productData':content});
            $('#product_box_'+id).html(selectProductTemplate);
            $('#product_box_'+id).parent().show();
        }
    });
}
</script>
<!--购物车end-->

    <!--推广-->
    <div class="recomm">
        <div class="constr fix">
            <div class="shopping_nav">
                <ul>
                	{query:name=category where=parent_id eq 0 and visibility eq 1 order=sort asc item=$first}
                    <li>
                        <div class="top_classify">
                            <i class="i_fruit"></i>
                            <a href="{url:/site/pro_list/cat/$first[id]}" target="_blank">{$first['name']}</a>
                        </div>
                        <div class="sub_classify">
                        	{query:name=category where=parent_id eq $first[id] and visibility eq 1 order=sort asc item=$second}
                            <a href="{url:/site/pro_list/cat/$second[id]}" target="_blank">{$second['name']}</a>
                            {/query}
                        </div>
                    </li>
                    {/query}
                </ul>
            </div>

            <div class="big_pic">
                <div class="slide_cell">
                    <div class="top_slide_list fix">
                        <ul id="topSlide" >
                        	{foreach:items = $this->big_pic}
                            <li>
                                <a href="{$item['link']}" target="_blank"><img src="{$item['content']}"></a>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                    {set:$n=count($this->big_pic)}
                    <div id="topSlideIndex" class="index">
                    	{for:from=1 upto=$n}
                        <a class="{if:$i==1}on{/if}" href="javascript:;" rel="">{$i}</a>
                        {/for}
                    </div>
                </div>
                <div class="sub_recomm fix" id="subRecomm">
                    <ul>
                    	{foreach:items = $this->markets_pic}
                        <li>
                            <a href="{$item['link']}" target="_blank"><img src="{$item['content']}"></a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>

            <div class="recomm_bar">
                <ul>
                	{foreach:items = $this->sidebar_pic}
                    <li>
                        <a href="{$item['link']}" target="_blank"><img src="{$item['content']}"></a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
    <!--推广 end-->

    <!--分类展示-->
    {query:name=category where=parent_id eq 0 and visibility eq 1 order=sort asc item=$first}
    <div class="classify_list constr">
        <div class="classify_title"><h2><a href="#">{$first['name']}</a></h2></div>
        <div class="fix">
            <div class="nav fruit_nav">
                <ul  id="classifySlideIndex">
                	{set:$i=1}
                	{query:name=category where=parent_id eq $first[id] and visibility eq 1 order=sort asc item=$second}
                    <li {if:$i==1}class="on"{/if}><a href="javascript:;" target=""><span>{$second['name']}</span><s></s></a></li>
                    {set:$i++}
                    {/query}
                </ul>
            </div>
            <div class="classify_slide">
            	<div id="classifySlide">
            	{query:name=category where=parent_id eq $first[id] and visibility eq 1 order=sort asc item=$second}
                <div class="goods_list fix">
            	{query:name=category_extend as ca join=left join goods as go on go.id eq ca.goods_id where=ca.category_id eq $second[id] and go.is_del eq 0 order = go.sort asc,go.id desc}
                   <dl>
                        <dd class="img"><a href="{url:/site/products/id/$item[id]}" target="blank"><img src="{webroot:}{echo:Thumb::get($item['img'],160,160)}" /></a></dd>
                        <dt class="name"><a href="{url:/site/products/id/$item[id]}" target="blank">{$item['name']}</a></dt>
                        <dd>
                            <div>
                                <del>{$item['market_price']}</del>
                                <em><s>¥</s>{$item['sell_price']}</em>
                            </div>
                            <div><a class="shopping_car" href="javascript:;" onclick="joinCart_list({$item['id']});"></a></div>
                        </dd>
                    </dl>
                    {/query}
                </div>
               	{/query}
                </div>
			</div>
        </div>
    </div>
    {/query}
    <!--分类展示 end-->
<script type="text/javascript" src="theme/js/comm.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $.picSlide("",{picBox:$("#topSlide"),navBox:$("#topSlideIndex"),type:"slide",speed:300,delay:5000});
    $("#subRecomm ul li").hover(function() {
        $(this).addClass("rel");
        $(this).find("img").css({"position":"absolute","bottom":"0","width":"273px","height":"132px","left":"-12px"});
    },function() {
        $(this).removeClass("rel");
        $(this).find("img").css({"position":"inherit","width":"249px","height":"119px"});
    })
    $.picSlide("",{picBox:$("#classifySlide"),navBox:$("#classifySlideIndex"),type:"slide",slideDir:"top",speed:300,delay:5000});
});
</script>