<link rel="stylesheet" type="text/css" href="theme/css/detail.css">
<!--购物车-->
<div class="navbar fix">
	<div class="constr">
		<div class="top_t"><a href="{url:/site/index}">首页</a></div>
		<ul>
			{query:name=guide}
			<li><a href="{url:$item[link]}">{$item['name']}<span> </span></a></li>
			{/query}
		</ul>

		<div class="mycart">
			<dl>
				<dt><a href="{url:/simple/cart}"><b name="mycart_count">{$myCartInfo['count']}</b>kg <b name="mycart_sum">{$myCartInfo['sum']}元</b></a></dt>
				<dd><a href="{url:/simple/cart}">去结算</a></dd>
			</dl>

			<!--购物车浮动div 开始-->
			<div class="shopping" id='div_mycart' style='display:none;'></div>
			<!--购物车浮动div 结束-->

			<!--购物车模板 开始-->
			<script type='text/html' id='cartTemplete'>
			<dl class="cartlist">
				<%for(var item in goodsData){%>
				<%var data = goodsData[item]%>
				<dd id="site_cart_dd_<%=item%>">
					<div class="pic f_l"><img width="55" height="55" src="{webroot:<%=data['img']%>}"></div>
					<h3 class="title f_l"><a href="{url:/site/products/id/<%=data['goods_id']%>}"><%=data['name']%></a></h3>
					<div class="price f_r t_r">
						<b class="block">￥<%=data['sell_price']%> x <%=data['count']%></b>
						<input class="del" type="button" value="删除" onclick="removeCart('{url:/simple/removeCart}','<%=data['id']%>','<%=data['type']%>');$('#site_cart_dd_<%=item%>').hide('slow');" />
					</div>
				</dd>
				<%}%>

				<dd class="static"><span>共<b name="mycart_count"><%=goodsCount%></b>件商品</span>金额总计：<b name="mycart_sum">￥<%=goodsSum%></b></dd>

				<%if(goodsData){%>
				<dd class="static">
					{if:ISafe::get('user_id')}
					<a class="f_l" href="javascript:void(0)" onclick="deposit_ajax('{url:/simple/deposit_cart_set}');">寄存购物车>></a>
					{/if}
					<label class="btn_orange"><input type="button" value="去购物车结算" onclick="window.location.href='{url:/simple/cart}';" /></label>
				</dd>
				<%}%>
			</dl>
			</script>
				<!--购物车模板 结束-->
		</div>
	</div>
</div>
<!--选择货品添加购物车模板 开始-->
<script type='text/html' id='selectProductTemplate'>
<table width="100%">
	<col />
	<col width="80px" />
	<col width="60px" />
	<%for(var item in productData){%>
	<%item = productData[item]%>
	<tr>
		<td align="left">
			<%for(var spectName in item['specData']){%>
			<%var spectValue = item['specData'][spectName]%>
				<%=spectName%>：<%==spectValue%> &nbsp&nbsp
			<%}%>
		</td>
		<td align="center"><span class="bold red2">￥<%=item['sell_price']%></span></td>
		<td align="right"><label class="btn_gray_s"><input type="button" onclick="joinCart_ajax('<%=item['id']%>','product');" value="购买"></label></td>
	</tr>
	<%}%>
	<tr>
		<td colspan='3' align="left"><a href="{url:/site/products/id/<%=item['goods_id']%>}">查看更多</a></td>
	</tr>
</table>
</script>
<!--选择货品添加购物车模板 结束-->

<script type='text/javascript'>
$(function()
{
	{set:$word = IReq::get('word') ? IFilter::act(IReq::get('word'),'text') : '输入关键字...'}
	$('input:text[name="word"]').val("{$word}");

	$('input:text[name="word"]').bind({
		keyup:function(){autoComplete('{url:/site/autoComplete}','{url:/site/search_list/word/@word@}','{$siteConfig->auto_finish}');}
	});

	var mycartLateCall = new lateCall(200,function(){showCart('{url:/simple/showCart}')});

	//购物车div层
	$('.mycart').hover(
		function(){
			mycartLateCall.start();
		},
		function(){
			mycartLateCall.stop();
			$('#div_mycart').hide('slow');
		}
	);
});

//[ajax]加入购物车
function joinCart_ajax(id,type)
{
	$.getJSON("{url:/simple/joinCart}",{"goods_id":id,"type":type,"random":Math.random()},function(content){
		if(content.isError == false)
		{
			var count = parseInt($('[name="mycart_count"]').html()) + 1;
			$('[name="mycart_count"]').html(count);
			$('[name="mycart_sum"]').html(content.sum);
			$('.msgbox').hide();
			alert(content.message);
		}
		else
		{
			alert(content.message);
		}
	});
}

//列表页加入购物车统一接口
function joinCart_list(id)
{
	$.getJSON('{url:/simple/getProducts}',{"id":id},function(content){
		if(!content)
		{
			joinCart_ajax(id,'goods');
		}
		else
		{
			var selectProductTemplate = template.render('selectProductTemplate',{'productData':content});
			$('#product_box_'+id).html(selectProductTemplate);
			$('#product_box_'+id).parent().show();
		}
	});
}
</script>
<!--购物车end-->

<!--商品信息头部-->
<div class="simple_info">
	<div class="constr fix">
		<div class="big_pic">
			<img src="{$img}" />
		</div>
		<div class="info_text">
			<h2>{$name}</h2>
			<div class="pric_cell">
				<div class="y_pric">
					<span class="f14 vm">促销价</span>
					<em class="yen">¥</em>
					<span class="price" id="real_price">{$sell_price}</span>
				</div>
				<div class="del_pric">
					一口价 
					<em class="yen">¥</em> 
					<span class="price">{$market_price}</span>
				</div>
			</div>
			<div class="weight_cell">重量：<span class="num">{$weight}</span>{$unit}</div>
			{if:$store_nums <= 0}
			该商品已售完，不能购买，您可以看看其它商品！(<a href="{url:/simple/arrival/goods_id/$id}" class="orange">到货通知</a>)
			{else:}
			<div class="nun_cell fix">
				<div class="l fix">
					<label>数量</label>
					<input type="text" value="1" maxlength="5" onblur="checkBuyNums();" id="buyNums"   />
					<span class="l ml5">
						<a class="increase_btn" href="javascript:modified(1);"></a>
						<a class="decrease_btn" href="javascript:modified(-1);"></a>
					</span>
				</div>
				<div class="l ml20">库存<span id="data_storeNums">{$store_nums}</span>件</div>
			</div>
			<div class="btn_cell">
				<a class="buy_btn" href="javascript:;" onclick="buy_now();"></a>
				<a class="add_btn" href="javascript:;" onclick="joinCart();"></a>
			</div>
			{/if}
			<div class="dispatch_cell"><span>配送范围：</span>宁波老三区</div>
		</div>
	</div>
</div>
<!--商品信息头部 end-->

<!--商品信息详情页-->
<div class="detail_info">
	<div class="constr fix">
		<div class="recomm_cell">
			<div class="title">热销商品推荐</div>
			<div class="list_cell">
				{query:name=commend_goods as cg join= left join goods as lg on lg.id eq cg.goods_id fields=lg.name,lg.sell_price,market_price,lg.img,lg.id where=commend_id eq 3 AND lg.is_del eq 0 AND lg.id is not null order=lg.sort asc,lg.id desc limit=5}
				<dl>
					<dd><a href="{url:/site/products/id/$item[id]}"><img src="{webroot:}{echo:Thumb::get($item['img'],180,180)}" /></a></dd>
					<dt><a href="{url:/site/products/id/$item[id]}">{$item['name']}</a></dt>
					<dd><span>¥{$item['sell_price']}</span>/<s>{$item['market_price']}</s></dd>
				</dl>
				{/query}
			</div>
		</div>
		{if:isset($content) && $content}
		<div class="detail_cell">
			<div class="fix_over_width">
				{$content}
			</div>
		</div>
		{/if}
	</div>
</div>
<!--商品信息详情页 end-->
<script type="text/javascript" src="theme/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="theme/js/comm.js"></script>
<script type="text/javascript">
/**
 * 监测库存操作
 */
function checkStoreNums()
{
	var storeNums = parseInt($.trim($('#data_storeNums').text()));
	if(storeNums > 0)
	{
		openBuy();
	}
	else
	{
		closeBuy();
	}
}

//检查购买数量是否合法
function checkBuyNums()
{
	if(isNaN($('#buyNums').val())){
		$('#buyNums').val(1);
		return;
	}
	//购买数量小于0
	var buyNums = parseInt($.trim($('#buyNums').val()));
	
	if(buyNums <= 0)
	{
		$('#buyNums').val(1);
		return;
	}

	//购买数量大于库存
	var storeNums = parseInt($.trim($('#data_storeNums').text()));
	if(buyNums >= storeNums)
	{
		$('#buyNums').val(storeNums);
		return;
	}
}

/**
 * 购物车数量的加减
 * @param code 增加或者减少购买的商品数量
 */
function modified(code)
{
	var buyNums = parseInt($.trim($('#buyNums').val()));
	switch(code)
	{
		case 1:
		{
			buyNums++;
		}
		break;

		case -1:
		{
			buyNums--;
		}
		break;
	}

	$('#buyNums').val(buyNums);
	checkBuyNums();
}

//商品加入购物车
function joinCart()
{
	var buyNums   = parseInt($.trim($('#buyNums').val()));
	var price     = parseFloat($.trim($('#real_price').text()));
	var productId = $('#product_id').val();
	var type      = productId ? 'product' : 'goods';
	var goods_id  = (type == 'product') ? productId : {$id};

	$.getJSON('{url:/simple/joinCart}',{"goods_id":goods_id,"type":type,"goods_num":buyNums,"random":Math.random},function(content){
		if(content.isError == false)
		{
			//获取购物车信息
			$.getJSON('{url:/simple/showCart}',{"random":Math.random},function(json)
			{
				$('[name="mycart_count"]').text(json.count);
				$('[name="mycart_sum"]').text(json.sum);

				//展示购物车清单
				$('#product_myCart').show();

				//暂闭加入购物车按钮
				$('#joinCarButton').attr('disabled','disabled');
			});
		}
		else
		{
			alert(content.message);
		}
	});
}

//立即购买按钮
function buy_now()
{
	//设置必要参数
	var buyNums  = parseInt($.trim($('#buyNums').val()));
	var id = {$id};
	var type = 'goods';

	if($('#product_id').val())
	{
		id = $('#product_id').val();
		type = 'product';
	}

	{if:$promo}
	//有促销活动（团购，抢购）
	var url = '{url:/simple/cart2/tourist/yes/id/@id@/num/@buyNums@/type/@type@/promo/$promo/active_id/$active_id}';
	url = url.replace('@id@',id).replace('@buyNums@',buyNums).replace('@type@',type);
	{else:}
	//普通购买
	var url = '{url:/simple/cart2/tourist/yes/id/@id@/num/@buyNums@/type/@type@}';
	url = url.replace('@id@',id).replace('@buyNums@',buyNums).replace('@type@',type);
	{/if}

	//页面跳转
	window.location.href = url;
}
$(document).ready(function() {
    
});
</script>