{set:$seo_data=array();$site_config=new Config('site_config');$site_config=$site_config->getInfo();}
{set:$seo_data['title']="商品搜索_".$site_config['name']}
{set:seo::set($seo_data);}
<link rel="stylesheet" href="views/default/skin/default/css/index.css">
<link rel="stylesheet" type="text/css" href="theme/css/list.css">
<div class="navbar fix">
    <div class="constr">
        <div class="top_t"><a href="{url:/site/index}">首页</a></div>
        <ul>
            {query:name=guide}
            <li><a href="{url:$item[link]}">{$item['name']}<span> </span></a></li>
            {/query}
        </ul>

        <div class="mycart">
            <dl>
                <dt><a href="{url:/simple/cart}"><b name="mycart_count">{$myCartInfo['count']}</b>件商品  <b name="mycart_sum">{$myCartInfo['sum']}元</b></a></dt>
                <dd><a href="{url:/simple/cart}">去结算</a></dd>
            </dl>

            <!--购物车浮动div 开始-->
            <div class="shopping" id='div_mycart' style='display:none;'></div>
            <!--购物车浮动div 结束-->

            <!--购物车模板 开始-->
            <script type='text/html' id='cartTemplete'>
            <dl class="cartlist">
                <%for(var item in goodsData){%>
                <%var data = goodsData[item]%>
                <dd id="site_cart_dd_<%=item%>">
                    <div class="pic f_l"><img width="55" height="55" src="{webroot:<%=data['img']%>}"></div>
                    <h3 class="title f_l"><a href="{url:/site/products/id/<%=data['goods_id']%>}"><%=data['name']%></a></h3>
                    <div class="price f_r t_r">
                        <b class="block">￥<%=data['sell_price']%> x <%=data['count']%></b>
                        <input class="del" type="button" value="删除" onclick="removeCart('{url:/simple/removeCart}','<%=data['id']%>','<%=data['type']%>');$('#site_cart_dd_<%=item%>').hide('slow');" />
                    </div>
                </dd>
                <%}%>

                <dd class="static"><span>共<b name="mycart_count"><%=goodsCount%></b>件商品</span>金额总计：<b name="mycart_sum">￥<%=goodsSum%></b></dd>

                <%if(goodsData){%>
                <dd class="static">
                    {if:ISafe::get('user_id')}
                    <a class="f_l" href="javascript:void(0)" onclick="deposit_ajax('{url:/simple/deposit_cart_set}');">寄存购物车>></a>
                    {/if}
                    <label class="btn_orange"><input type="button" value="去购物车结算" onclick="window.location.href='{url:/simple/cart}';" /></label>
                </dd>
                <%}%>
            </dl>
            </script>
                <!--购物车模板 结束-->
        </div>
    </div>
</div>
<!--选择货品添加购物车模板 开始-->
<script type='text/html' id='selectProductTemplate'>
<table width="100%">
    <col />
    <col width="80px" />
    <col width="60px" />
    <%for(var item in productData){%>
    <%item = productData[item]%>
    <tr>
        <td align="left">
            <%for(var spectName in item['specData']){%>
            <%var spectValue = item['specData'][spectName]%>
                <%=spectName%>：<%==spectValue%> &nbsp&nbsp
            <%}%>
        </td>
        <td align="center"><span class="bold red2">￥<%=item['sell_price']%></span></td>
        <td align="right"><label class="btn_gray_s"><input type="button" onclick="joinCart_ajax('<%=item['id']%>','product');" value="购买"></label></td>
    </tr>
    <%}%>
    <tr>
        <td colspan='3' align="left"><a href="{url:/site/products/id/<%=item['goods_id']%>}">查看更多</a></td>
    </tr>
</table>
</script>
<!--选择货品添加购物车模板 结束-->

<script type='text/javascript'>
$(function()
{
    {set:$word = IReq::get('word') ? IFilter::act(IReq::get('word'),'text') : '输入关键字...'}
    $('input:text[name="word"]').val("{$word}");

    $('input:text[name="word"]').bind({
        keyup:function(){autoComplete('{url:/site/autoComplete}','{url:/site/search_list/word/@word@}','{$siteConfig->auto_finish}');}
    });

    var mycartLateCall = new lateCall(200,function(){showCart('{url:/simple/showCart}')});

    //购物车div层
    $('.mycart').hover(
        function(){
            mycartLateCall.start();
        },
        function(){
            mycartLateCall.stop();
            $('#div_mycart').hide('slow');
        }
    );
});

//[ajax]加入购物车
function joinCart_ajax(id,type)
{
    $.getJSON("{url:/simple/joinCart}",{"goods_id":id,"type":type,"random":Math.random()},function(content){
        if(content.isError == false)
        {
            alert(content.message);
        	$.getJSON('{url:/simple/showCart}',{"random":Math.random},function(json)
           			{
           				$('[name="mycart_count"]').text(json.count);
           				$('[name="mycart_sum"]').text(json.sum);

           				//展示购物车清单
           				$('#product_myCart').show();

           				//暂闭加入购物车按钮
           				$('#joinCarButton').attr('disabled','disabled');
           			});
        }
        else
        {
            alert(content.message);
        }
    });
}

//列表页加入购物车统一接口
function joinCart_list(id)
{
    $.getJSON('{url:/simple/getProducts}',{"id":id},function(content){
        if(!content)
        {
            joinCart_ajax(id,'goods');
        }
        else
        {
            var selectProductTemplate = template.render('selectProductTemplate',{'productData':content});
            $('#product_box_'+id).html(selectProductTemplate);
            $('#product_box_'+id).parent().show();
        }
    });
}
</script>
<!--购物车end-->

<div class="constr position"> <span>全部结果：</span> <a href="javascript:void(0)">{$this->word}</a> </div>

<div class="wrapper clearfix container_2">
<div class="sidebar f_l">
	<div class="box_2 m_10">
		<div class="title">分类筛选</div>
		<div class="content">
			<dl class="w clearfix">
				{query:name=goods as go join=left join category_extend as ca on go.id eq ca.goods_id left join category as c on c.id eq ca.category_id
				where  = go.name like '%$this->word%'
				fields = c.name,c.id,count(*) as num
				group  = ca.category_id
				}
				{set:$tmpWord=urlencode($this->word);}
				<dd class='{if:IReq::get('cat') == $item['id']}current{/if}'><a href="{url:/site/search_list/word/$tmpWord/cat/$item[id]}">{$item['name']}({$item['num']})</a></dd>
				{/query}
			</dl>
		</div>
	</div>
	<div class="box m_10">
		<div id="adHere_8"></div>
		<script language="javascript">
		(new adLoader()).load(8,'adHere_8');
		</script>
	</div>
	<div class="box m_10">
		<div class="title">销售排行榜</div>
		<div class="content">
			<ul class="ranklist" id='ranklist'>
				{set:$whereCat = $this->cat_id ? " and ca.category_id in ($this->cat_id)" : ''}
			  	{query:name=goods as go join=left join category_extend as ca on ca.goods_id eq go.id left join order_goods as ord on ord.goods_id eq go.id
			  		where = go.name like '%$this->word%' and ord.goods_nums > 0 $whereCat
			  		fields= go.id,go.name,go.img,go.sell_price,SUM(ord.goods_nums) as sum
			  		order = sum desc
			  		group = ord.goods_id
			  		limit = 10
			  	}
			  	<li>
			  		<span>{echo:intval($key+1)}</span>
			  		<a href="{url:/site/products/id/$item[id]}"><img src="{webroot:}{echo:Thumb::get($item['img'],60,60)}" width="60" height="60" alt="{$item['name']}" /></a>
			  		<a title="{$item['name']}" class="p_name" href="{url:/site/products/id/$item[id]}">{$item['name']}</a><b>￥{$item['sell_price']}</b>
			  	</li>
			  	{/query}
			</ul>
		</div>
	</div>
</div>
<div class="search_list main f_r">
	<strong class="result">"<span class="red">{$this->word}</span>"搜索结果（{$this->findSum}）</strong>
	<p class="t_l gray m_10">你是不是想找：
		{query:name=keyword where=word like '$this->word%' and word neq '$this->word' limit=10}
		{set:$tmpWord=urlencode($item['word']);}
		<a href="{url:/site/search_list/word/$tmpWord}" class='orange'>{$item['word']}</a>
		{/query}
	</p>
	<div class="display_title m_10">
		
		<span class="f_l">排序：</span>
		<ul>
			{foreach:items=search_goods::getOrderType()}
			{set:$next = search_goods::getOrderValue($key)}
			<li class="{echo:search_goods::isOrderCurrent($key) ? 'current':''}">
				<a href="{echo:search_goods::searchUrl('order',$next)}">{$item}<span class="{echo:search_goods::isOrderDesc() ? 'desc':''}">&nbsp;</span></a>
			</li>
			{/foreach}
		</ul>
		<span class="f_l">显示方式：</span>
		<a class="show_b" href="{echo:search_goods::searchUrl('show_type','win')}" title='橱窗展示' alt='橱窗展示'><span class='{echo:search_goods::getListShow(IReq::get('show_type')) == 'win' ? 'current':''}'></span></a>
		<a class="show_s" href="{echo:search_goods::searchUrl('show_type','list')}" title='列表展示' alt='列表展示'><span class='{echo:search_goods::getListShow(IReq::get('show_type')) == 'list' ? 'current':''}'></span></a>
	</div>

	{set:$defaultWhere = array('goods' => ' go.name like "%'.$this->word.'%"' , 'category_extend' => $this->cat_id)}
	{set:$goodsObj = search_goods::find($defaultWhere);$resultData = $goodsObj->find();}
	{if:$resultData}
	{set:$listSize = search_goods::getListSize(IFilter::act(IReq::get('show_type')))}
	<ul class="display_list clearfix m_10">
		{foreach:items=$resultData}
		<li class="clearfix {echo:search_goods::getListShow(IFilter::act(IReq::get('show_type')))}">
			<div class="pic">
				<a title="{$item['name']}" href="{url:/site/products/id/$item[id]}"><img src="{webroot:}{echo:Thumb::get($item['img'],$listSize['width'],$listSize['height'])}" width="{$listSize['width']}" height="{$listSize['height']}" alt="{$item['name']}" title="{$item['name']}" /></a>
			</div>
			<h3 class="title"><a title="{$item['name']}" class="p_name" href="{url:/site/products/id/$item[id]}">{echo:str_replace($this->word,'<b class="red">'.$this->word.'</b>',$item['name'])}</a><span>总销量：{$item['sale']}</span><span class='grade'><i style='width:{echo:Common::gradeWidth($item['grade'],$item['comments'])}px'></i></span></h3>
			<div class="handle">
				<label class="btn_gray_m"><img src="{skin:images/front/ucenter/shopping.gif}" width="15" height="15" /><input type="button" value="加入购物车" onclick="joinCart_list({$item['id']});"></label>
				<div class="msgbox" style="width:350px;display:none">
					<div class="msg_t"><a class="close f_r" onclick="$(this).parents('.msgbox').hide();">关闭</a>请选择规格</div>
					<div class="msg_c" id='product_box_{$item['id']}'></div>
				</div>
			</div>
			<div class="price">￥{$item['sell_price']}<s>￥{$item['market_price']}</s></div>
		</li>
		{/foreach}
	</ul>
	{$goodsObj->getPageBar()}
	{else:}
	<p class="display_list mt_10" style='margin-top:50px;margin-bottom:50px'>
		<strong class="gray f14">对不起，没有找到相关商品</strong>
	</p>
	{/if}
</div>
</div>